/*
datum :27-3-2023
auteur: Stijn, Beau en vadinho
project
*/
body
{
    margin: 0;
    padding: 0;
}
.vinkje
{
    /* om het altijd het boven op te laten zetten*/
    z-index:2;     /* zorgt er voor dat het uitklapt*/
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0; /*  zorgt er voor dat het hamburg icoon te zien */
}
.burger
{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    padding: 10px;
    /* dit zorgt er voor dat het in het midden komt te staan */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* de middelste streep te maken */
.burger > div
{
    position: relative;
    top: 0;
    left: 0;
    background: #e5b5b0;
    height: 2px;
    width: 60%;
    transition: all  0.4s ease;
}

/* de bovenste en onderste streep te maken en te plaatsen van uit de middelste streep  */

.burger > div::before,
.burger > div::after
{
    content: '';
    position: absolute;
    top: -10px;
    background: #e5b5b0;
    width: 100%;
    height: 2px;
    transition: all  0.4s ease;
}

.burger > div::after
{
    top: 10px;
}

/* als erop geklikt is gaat de middelste streepje weg */

.vinkje:checked + .burger > div
{
    background: rgba(0,0,0,0);
}
/* om de twee streepjes te laten draaien in een kruisje nadat erop geklikt heb  */
.vinkje:checked + .burger > div::before
{
    top: 0;
    transform: rotate(45deg);
    background: white;
}

/* om de twee streepjes te laten draaien in een kruisje nadat erop geklikt heb  */
.vinkje:checked + .burger > div::after
{
    top: 0;
    /*draaien met 135 graden*/
    transform: rotate(135deg);
    background: white;
}
.menu
{
    background: black;
    width: 0%;
    height: 300px;
    /*om de overgang te vertragen en beter*/
    transition: all 0.8s ease;

}

/* als je er op klikt schuift hij uit  */
.vinkje:checked ~ .menu
{
    width: 70%;
    height: 100vh;
}
/* styling van de lijst  */
.menu >  nav > ul
{
    display: flex;
    flex-direction: column;
    top: 70px;
    padding-right: 10px;
    /* om de lijst niet zichtbaar temaken  */
    visibility: hidden;
}
.menu > nav > ul > li
{
    list-style: none;
    padding: 10px;
}
.menu > nav > ul > li > a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* wanneer het aangevinkt word zie je de lijst */
.vinkje:checked ~ .menu > nav > ul
{
    /* om de overgang van de lijst zichtbaar maken versloomd word*/
    transition: visibility 0.4s ease;
    transition-delay: 0.1s;
    /* om het zichtbaar te maken*/
    visibility: visible;
}
.container
{
    position: fixed;
    top: 0;
}
form
{
    text-align: center;
    margin-bottom: 50px;
}
#lijstbutton
{
    padding: 12px 30px;
    background: transparent;
    color: #e53935;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    border-radius: 50px;
    transition: all 200ms;
    border: 1px solid #e53935
}
#lijstbutton:hover
{
    background-color: #e53935;
    color: white;
}

.uur
{
    text-align: center;
    padding-top: 20px;
}
.uur~p
{
    width: 55%;
    margin-right: auto;
    margin-left: auto;
}

footer
{
    background-image:url("../Images/sence footer.jpg");
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

.opvulling2
{
    height: 25vw;
}

.logozwart
{

}

.logos3
{

}

.footerwrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;

}