/*
datum :27-3-2023
auteur: Stijn, Beau en vadinho
project
*/
*
{
    margin: 0;
    /*lettertypes*/
    font-family: ubuntu;
    font-family: Arial, sans-serif;
}
/*-----------------------------------------header----------------------------------*/
.hoofdpagina
{
    /*achtergrond*/
    background-image:url("../Images/header-home01-5 - kopie.jpg");
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

.opvulling
{
    height: 25vw;
}

header h1
{
    color: white;
    font-size: 34px;
    font-weight: normal;
    /*om de tekst op de goede positie te krijgen*/
    margin-top: 15vh;
    margin-left:15vw;
}

header p
{
    color: white;
    font-weight: bold;
    /*om de tekst op de goede positie te krijgen*/
    margin-top: 3vh;
    margin-left:15vw;
}

header img
{
    width: 100%;
    /*om de tekst op de goede positie te krijgen*/
    margin-left: 15vw;
    /*voor het logo maximale afmetingen*/
    max-width: 250px;
    max-height: 150px;
}
/*-----------------------------------------header----------------------------------*/
/*--------------------------------------artikel1-----------------------------------*/
.dennis
{
    float: right;
    /*als het onder de afmetingen komt gaat hij meebewgen met telefoon*/
    width: 100%;
    height: auto;
    /*maximale afmetingen plaatje*/
    max-width: 400px;
    max-height: 500px;
    /*voor de witte zijkanten bij het plaatje*/
    padding-top: 20px;
    padding-left: 20px;
}

.tekst
{
    padding: 50px;
}

main div div p
{
    padding: 10px;
}
/*--------------------------------------artikel1-----------------------------------*/
/*---------------------------------------buttons-----------------------------------*/
.buttonwerk
{
    background-color: white;
    color: black;
    margin-left: 15vw;
    border: 1px solid white;
    transition: all 200ms;
}

.buttonwerk:hover
{
    background-color: transparent;
    color: white;
}

.buttonartikel , .buttonwerk
{
    padding: 12px 30px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 400;
    margin-top: 30px;
}
.buttonartikel
{
    background: transparent;
    color: #e53935;
    border: 1px solid #e53935;
    transition: all 200ms;
}

.buttonartikel:hover
{
    background-color: #e53935;
    color: white;
}

/*---------------------------------------buttons-----------------------------------*/
/*--------------------------------------artikel2-----------------------------------*/

figure img
{
    /*maximale afmetingen plaatje*/
    max-height: 300px;
    max-width: 400px;
    width: 100%;
}

article
{
    padding: 50px;
}

.foto2 , .foto4
{
  text-align: right;
}

article figure p
{
    font-size: 16px;
}

#box-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;

}

.display1
{
    width: 100%;
    /*maximale afmetingen plaatje*/
    max-width: 300px;
    max-height: 350px;
}

.wrapper
{
    /*om de schaduw te krijgen bij de vlakken*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*maximale breedte wrapper*/
    max-width: 300px;
}

section figure p
{
    padding: 20px;
}

.leesmeer
{
    color: #e53935;
    padding-left: 0px;
    text-decoration: none;
}

main
{
    margin-bottom: 20px;
}

/*--------------------------------------artikel2-----------------------------------*/
/*--------------------------------------telefoon-----------------------------------*/

@media screen and (max-width: 900px)
{
    article figure p
    {
        padding: 5px;
    }

    #box-wrapper
    {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        /*om de content in het midden te krijgen*/
        max-width: fit-content;
    }

    .wrapper
    {
        margin: 20px;
    }
}
/*--------------------------------------telefoon-----------------------------------*/
