*
{
    margin: 0;
    padding: 0;
    font-family: ubuntu;
}

.hoofdpagina
{
    background-image:url("../Images/header-home01-5 - kopie.jpg");
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;

}

.opvulling
{
    height: 600px;
}

header h1
{
    color: white;
    font-size: 34px;
    font-weight: normal;
}

header p
{

}
form
{
    text-align: center;
}
form p
{
    padding: 5px;
}