*
{
    margin: 0;
    padding: 0;
    font-family: ubuntu;
}
/*-----------------------------------------header----------------------------------*/
.hoofdpagina
{
    background-image:url("../Images/header-home01-5 - kopie.jpg");
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

.opvulling
{
    height: 25vw;
}

header h1
{
    color: white;
    font-size: 34px;
    font-weight: normal;
    margin-top: 15vh;
    margin-left:15vw;
}

header p
{
    color: white;
    font-weight: bold;
    margin-top: 3vh;
    margin-left:15vw;
}

header img
{
    width: 20%;
    margin-left: 15vw;
}
/*-----------------------------------------header----------------------------------*/
/*--------------------------------------artikel1-----------------------------------*/
.dennis
{
    float: right;
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 500px;
    padding-top: 20px;
    padding-left: 20px;
}

.tekst
{
    padding: 50px;
}

main div div p
{
    padding: 10px;
}
/*--------------------------------------artikel1-----------------------------------*/
/*---------------------------------------buttons-----------------------------------*/
header a
{
    background-color: rgb(255, 255, 255);
    color: black;
    margin-left: 15vw;
    border: 1px solid white;
}

.button , header a
{
    padding: 12px 30px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 400;
    margin-top: 30px;
}
.button
{
    background: transparent;
    color: #e53935;
    border: 1px solid #e53935;
}
/*---------------------------------------buttons-----------------------------------*/
/*--------------------------------------artikel2-----------------------------------*/

figure img
{
    max-height: 300px;
    max-width: 400px;
    width: 100%;
}

article
{
    padding: 10px;
}

.foto2
{

}

